@import "@styles/variables/fonts.scss";

.switcher {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--blue-main);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;

  @include f--b1-regular;
}
