@import "@styles/variables/fonts.scss";
@import "@styles/variables/breakpoints.scss";

.header {
  display: flex;
  align-items: center;
  position: static;
  column-gap: 40px;

  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #ccc;
  height: 140px;
  z-index: 1;
  padding-left: 16px;

  @media (min-width: 1024px) {
    height: 110px;
    align-items: flex-end;
    column-gap: 40px;
  }
  @media (max-width: 767px) {
    height: 200px;
  }
  @media (max-width: 390px) {
    height: 310px;
    padding-right: 16px;
  }

  .itemsMenu {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    padding-bottom: 9px;
    column-gap: 16px;

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 16px;
      width: 100%;
    }
    @media (min-width: 1024px) {
      align-items: flex-end;
    }

    .menuWp {
      display: flex;
      gap: 32px;
      min-width: 320px;
      justify-content: center;
      width: 100%;

      @media (min-width: 1024px) {
        justify-content: left;
      }
      @include f--b1-regular;
      color: var(--grey-main);

      @media (max-width: 390px) {
        flex-direction: column;
        gap: 8px;
      }

      .menuItem {
        list-style: none;
        display: flex;
        align-items: center;
        @media (max-width: 835px) {
          width: min-content;
        }

        @media (max-width: 767px) {
          text-wrap: nowrap;
        }

        @media (max-width: 500px) {
          text-wrap: wrap;
        }

        @media (max-width: 390px) {
          text-wrap: nowrap;
        }
        a {
          text-decoration: none;
          color: inherit;

          @media (min-width: 1024px) {
            text-wrap: nowrap;
          }
        }
      }
      .menuItem:hover {
        transform: scale(1.1);
      }
    }

    .buttons {
      display: flex;
      column-gap: 16px;
      margin-right: 16px;

      @media (max-width: 1023px) and (min-width: 391px) {
        min-width: 350px;
      }

      @media (max-width: 390px) {
        flex-direction: column;
        width: 100%;
        gap: 8px;
        margin: 0;
      }
      button {
        text-wrap: nowrap;
      }
    }
  }
}
