@import "@styles/variables/fonts.scss";
@import "@styles/variables/breakpoints.scss";

.header {
  display: flex;
  align-items: center;
  position: static;
  column-gap: 40px;

  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #ccc;
  z-index: 1;
  padding-left: 16px;

  @media (min-width: 985px) {
    height: 110px;
    align-items: flex-end;
    column-gap: 40px;
  }

  .itemsMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    padding-bottom: 9px;
    column-gap: 16px;

    @media (min-width: 1024px) {
      align-items: flex-end;
    }

    .menuWp {
      display: flex;
      gap: 12px;
      justify-content: flex-start;
      flex-wrap: wrap;

      @media (min-width: 550px) {
        justify-content: center;
      }

      @media (min-width: 835px) {
        flex-wrap: nowrap;
      }

      @media (min-width: 1024px) {
        gap: 32px;
        justify-content: left;
      }
      @include f--b1-regular;
      color: var(--grey-main);

      .menuItem {
        list-style: none;
        display: flex;
        align-items: center;

        a {
          text-decoration: none;
          color: inherit;

          @media (min-width: 1024px) {
            text-wrap: nowrap;
          }
        }
      }
      .menuItem:hover {
        transform: scale(1.1);
      }
    }

    .buttons {
      display: flex;
      gap: 12px;
      margin-right: 16px;
      flex-wrap: wrap;

      @media (min-width: 835px) {
        flex-wrap: nowrap;
      }
      button {
        text-wrap: wrap;
        @media (min-width: 370px) {
          text-wrap: nowrap;
        }
      }
    }
  }
}
