@import "@styles/variables/fonts.scss";
@import "@styles/variables/breakpoints.scss";

.header {
  display: flex;
  align-items: center;

  position: static;

  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #ccc;
  height: 120px;
  z-index: 1;

  @media (min-width: 601px) {
    height: 85px;
    align-items: flex-end;
    column-gap: 70px;
  }
  .menuWp {
    display: flex;
    gap: 32px;
    min-width: 320px;
    justify-content: center;
    width: 100%;
    @media (min-width: 601px) {
      min-width: 0;
      justify-content: left;
      width: auto;
      padding-bottom: 9px;
    }
    @include f--b1-regular;
    color: var(--grey-main);

    .menuItem {
      list-style: none;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
    .menuItem:hover {
      transform: scale(1.1);
    }
  }
}
