@import "@styles/variables/breakpoints.scss";
@import "@styles/variables/fonts.scss";
.features {
  display: flex;
  flex-direction: column;
  gap: 32px;

  position: relative;
  margin: auto;
  margin-top: 16px;
  padding-bottom: 16px;
  max-width: 900px;

  display: flex;
  flex-direction: column;
  gap: 32px;

  @include f--b1-regular;

  @media (min-width: 1024px) {
    top: 130px;
  }
  @media (max-width: 1023px) {
    top: 160px;
    padding: 0 16px;
  }
  @media (max-width: 767px) {
    top: 220px;
  }
  @media (max-width: 390px) {
    top: 330px;
  }
}
